.root
{
    
}

body
{

}

.top-navigation
{
    display: flex;    
    margin: 20px 0px;
    height: 96px;
    padding: 20px 24px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;

    border-radius: 20px;
    background: var(--black-bg, #2A2C2E);
    backdrop-filter: blur(46.5px)

}

.container
{
    padding: 0px;
    color: white;
}

.navbar
{
    flex-wrap: nowrap;
    width: 100%;
    padding: 0%;
}

.navbar-brand
{
    display: flex;
    width: 200px;
    padding: 5.548px 0.261px 0px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
    color: white;
}

.nav-link
{
    color: white;
    font-family:  'Space Grotesk';
}

.navbar-nav
{
    justify-content: space-between;
}